@model NREditModel

<div class="row" ng-app="app">

<div class="col-xs-12" ng-controller="controller">

<section class="panel">

<header class="panel-heading">
    NOTIFICATION REPORT
</header>

<div class="panel-body">

<section class="panel general">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2">INSPECTION:</label>
            <div class="col-md-6">{{model.inspection.computedCode}}</div>
        </div>
        <div class="form-group">
            <label class="col-md-2">DOCUMENT:</label>
            <div class="col-md-6">{{model.nrHeader.nR_document_no}}</div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Comments:</label>
            <div class="col-md-6"><textarea class="form-control" rows="3" ng-model="model.nrHeader.nR_comment1"></textarea></div>
        </div>        
        <button class="btn btn-default create_new" type="submit" ng-click="update(false)">Update</button>
        <button class="btn btn-default create_new" type="submit" ng-click="editReport()" ng-show="model.nrHeader.id > 0">Edit report</button>
        <button class="btn btn-default create_new" type="button" ng-click="generatePdf()" ng-show="model.nrHeader.id > 0">PDF</button>
        
    </div>
    <br />
    <label>NR LINES:</label>
        <table class="table table-striped m-t-15"  datatable="ng">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Factory</th>
                <th>Factory code</th>
                <th>Client code</th>
                <th>Description</th>
                <th>Qty</th>
                <th>Container</th>
                <!--<th>Images</th>-->
                <th>&nbsp;</th> 
            </tr>   

            </thead>
            <tbody>
            <tr ng-repeat="l in model.nrHeader.lines | filter: filterLinesQTY" ng-show="model.nrHeader.lines.length > 0">
                    
                <td>{{$index+1}}</td>
                <td>{{getMastProductFactory(l.inspectionV2Line)}}</td>
                <td>{{getMastProductField(l.inspectionV2Line,'factory_ref','insp_mastproduct_code')}}</td>
                <td>{{getCustProductField(l.inspectionV2Line,'cprod_code1','insp_custproduct_code')}}</td>
                <td>{{getCustProductField(l.inspectionV2Line,'cprod_name','insp_custproduct_name')}}</td>
                <td>{{getQty(l.inspectionV2Line)}}</td>
                <td>{{getContainers(l.inspectionV2Line)}}</td>
                <!--<td>{{getImageCount(l)}}</td>-->
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeLine(l)"></span></td>
            </tr>
                <tr ng-show="model.nrHeader.lines.length == 0">
                    <td colspan="8" class="text-center">There are no lines currently selected for this Notification Report - please add below</td>
                </tr>
            </tbody>

            
            
        </table>

    <br />
    <button class="btn btn-default create_new" type="button" ng-click="toggleLineSelection()" ng-show="!showLineSelection" style="margin-bottom: 0px">Add lines</button>
    @*<button class="btn btn-default create_new" type="button" ng-click="toggleLineSelection()" ng-show="showLineSelection" style="margin-bottom: 0px">Hide lines</button>*@
    @*<a ng-click="toggleLineSelection()" ng-show="!showLineSelection">add lines</a>
    <a ng-click="toggleLineSelection()" ng-show="showLineSelection">hide lines</a>*@
    <div ng-show="showLineSelection">
        
        <div class="form-group">

            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" ng-model="lineType">
                        Show spares and manual lines only
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" ng-model="lineType">
                        Show all lines
                    </label>
                </div>

            </div>
        </div>

        <button class="btn btn-default create_new pull-right" type="button" ng-click="addLines()">Add</button>
        <table class="table table-striped m-t-15">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Factory</th>
                <th>Factory code</th>
                <th>Client code</th>
                <th>Description</th>
                <th>Qty</th>
	            <th><input type="checkbox" ng-model="selectAll" ng-click="toggleAll()" /></th>
            </tr>            
            </thead>
            <tbody>
            <tr ng-repeat="l in inspection.lines | filter: filterLines">
                <td>{{$index+1}}</td>
                <td>{{getMastProductFactory(l)}}</td>
                <td>{{getMastProductField(l,'factory_ref','insp_mastproduct_code')}}</td>
                <td>{{getCustProductField(l,'cprod_code1','insp_custproduct_code')}}</td>
                <td>{{getCustProductField(l,'cprod_name','insp_custproduct_name')}}</td>
                <td>{{getQty(l)}}</td>
                <td><input type="checkbox" id="inlineCheckbox1" ng-model="l.selected"></td>
            </tr>
            
            </tbody>
            

        </table>

        <button class="btn btn-default create_new pull-right" type="button" ng-click="addLines()">Add</button>
    </div>
        

    
    
    
</section>
    
</div>

</section>
</div>
    <div loading class="loading-dialog"></div>    
    <script type="text/ng-template" id="standardModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Message</h3>
        </div>
        <div class="modal-body">
            <div >
                {{message}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="close()">OK</button>            
        </div>
            

</script>
</div>



@section head
{
    @Styles.Render("~/Content/bootstrapStyle/bootstrap")
    @Styles.Render("~/Content/DataTables/style/css")
    <style>
        .loading-dialog {
            display: none;
            position: fixed;
            z-index: 1100;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 0, 0, 0, .3 ) url('/images/loading2.gif') 50% 50% no-repeat;
        }
        .main {
            width: auto;
        }
        @@media (min-width: 768px) {
            #footer {
                width:750px
            }
        }
        
        @@media (min-width: 992px) {
            #footer {
                width:970px
            }
        }
        
        @@media (min-width: 1200px) {
            #footer {
                width:1170px
            }
        }

    </style>
}

@section scripts2
{
    @Html.Raw(JSNLog.JavascriptLogging.Configure())
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ang-bootstrap")
    @Scripts.Render("~/bundles/DataTable")
    @Scripts.Render("~/bundles/AngularDataTable")
    @Scripts.Render("~/bundles/utils")
    <script src="~/Scripts/logToServer.js"></script>
    <script src="~/Scripts/angular-plupload/angular-plupload.js"></script>
    <script src="~/AngularApps/NotificationReport/app.js"></script>
    <script src="~/AngularApps/NotificationReport/factory.js"></script>
    <script src="~/AngularApps/NotificationReport/controller.js"></script>

<script src="~/AngularApps/loading.js"></script>
<script src="~/AngularApps/standardDialogController.js"></script>
}