@{
    Layout = null;
}
@model TrackingNumbersModel
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Big Company</title>
    @Styles.Render("~/Content/bootstrapStyle/bootstrap")
    <style>
        .header {
            background-color: #F4F4F4;
        }

        .number {
            text-align: right;
        }

        .tableheader {
            background-color: #E0E0E0;
            font-weight: bold;
        }

        .altrow {
            background-color: #F4F4F4;
        }
        
        .number {
            text-align: right;
        }
    </style>
</head>

<body>
    <div class="container-fluid" ng-app="app">
        <div ng-controller="controller">
            <h3>Tracking Numbers</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th class="number">Inspection Qty</th>
                        <th class="number">Tracking Qty</th>
                        <th>Tracking Numbers</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var l in Model.Lines ) {
                        <tr>
                            <td>@l.factory_ref</td>
                            <td class="number">@l.qty</td>
                            <td class="number">@Model.ProductTrackNumbers.Count(t=>t.mastid == l.mast_id)</td>
                            <td>
                                @foreach (var t in Model.ProductTrackNumbers.Where(t => t.mastid == l.mast_id)) {
                                    <span style="padding: 2px">@t.track_number</span>
                                }                                
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
            
            
        </div>

    </div>
    
</body>
</html>
