@model ExportProductsModel

@{
    ViewBag.Title = "title";
    Layout = null;
}

<html>
<head>
    <title>Product set-up document</title>

    <style>
        .factorylabel {
            background-color: #E2EFDA
        }
        .header1 {
            background-color: #E0E0E0;
            font-weight: bold;
        }
        .header2 {
            background-color: #E2EFDA;
            font-weight: bold;
        }
        .container-fluid {
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
        }
        .row {
          margin-right: -15px;
          margin-left: -15px;
        }
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
          position: relative;
          min-height: 1px;
          padding-right: 15px;
          padding-left: 15px;
        }
        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
          float: left;
        }
         .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
          float: left;
        }
        .col-xs-12 {
          width: 100%;
        }
        .col-xs-11 {
          width: 91.66666667%;
        }
        .col-xs-10 {
          width: 83.33333333%;
        }
        .col-xs-9 {
          width: 75%;
        }
        .col-xs-8 {
          width: 66.66666667%;
        }
        .col-xs-7 {
          width: 58.33333333%;
        }
        .col-xs-6 {
          width: 50%;
        }
        .col-xs-5 {
          width: 41.66666667%;
        }
        .col-xs-4 {
          width: 33.33333333%;
        }
        .col-xs-3 {
          width: 25%;
        }
        .col-xs-2 {
          width: 16.66666667%;
        }
        .col-xs-1 {
          width: 8.33333333%;
        }
        .col-xs-pull-12 {
          right: 100%;
        }
        .col-xs-pull-11 {
          right: 91.66666667%;
        }
        .col-xs-pull-10 {
          right: 83.33333333%;
        }
        .col-xs-pull-9 {
          right: 75%;
        }
        .col-xs-pull-8 {
          right: 66.66666667%;
        }
        .col-xs-pull-7 {
          right: 58.33333333%;
        }
        .col-xs-pull-6 {
          right: 50%;
        }
        .col-xs-pull-5 {
          right: 41.66666667%;
        }
        .col-xs-pull-4 {
          right: 33.33333333%;
        }
        .col-xs-pull-3 {
          right: 25%;
        }
        .col-xs-pull-2 {
          right: 16.66666667%;
        }
        .col-xs-pull-1 {
          right: 8.33333333%;
        }
        .col-xs-pull-0 {
          right: auto;
        }
        .col-xs-push-12 {
          left: 100%;
        }
        .col-xs-push-11 {
          left: 91.66666667%;
        }
        .col-xs-push-10 {
          left: 83.33333333%;
        }
        .col-xs-push-9 {
          left: 75%;
        }
        .col-xs-push-8 {
          left: 66.66666667%;
        }
        .col-xs-push-7 {
          left: 58.33333333%;
        }
        .col-xs-push-6 {
          left: 50%;
        }
        .col-xs-push-5 {
          left: 41.66666667%;
        }
        .col-xs-push-4 {
          left: 33.33333333%;
        }
        .col-xs-push-3 {
          left: 25%;
        }
        .col-xs-push-2 {
          left: 16.66666667%;
        }
        .col-xs-push-1 {
          left: 8.33333333%;
        }
        .col-xs-push-0 {
          left: auto;
        }
        .col-xs-offset-12 {
          margin-left: 100%;
        }
        .col-xs-offset-11 {
          margin-left: 91.66666667%;
        }
        .col-xs-offset-10 {
          margin-left: 83.33333333%;
        }
        .col-xs-offset-9 {
          margin-left: 75%;
        }
        .col-xs-offset-8 {
          margin-left: 66.66666667%;
        }
        .col-xs-offset-7 {
          margin-left: 58.33333333%;
        }
        .col-xs-offset-6 {
          margin-left: 50%;
        }
        .col-xs-offset-5 {
          margin-left: 41.66666667%;
        }
        .col-xs-offset-4 {
          margin-left: 33.33333333%;
        }
        .col-xs-offset-3 {
          margin-left: 25%;
        }
        .col-xs-offset-2 {
          margin-left: 16.66666667%;
        }
        .col-xs-offset-1 {
          margin-left: 8.33333333%;
        }
        .col-xs-offset-0 {
          margin-left: 0;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
        }
        .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
        .table > thead > tr > th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
        }
        .table > caption + thead > tr:first-child > th,
        .table > colgroup + thead > tr:first-child > th,
        .table > thead:first-child > tr:first-child > th,
        .table > caption + thead > tr:first-child > td,
        .table > colgroup + thead > tr:first-child > td,
        .table > thead:first-child > tr:first-child > td {
            border-top: 0;
        }
        .table > tbody + tbody {
            border-top: 2px solid #ddd;
        }
        .table .table {
            background-color: #fff;
        }
        .table-condensed > thead > tr > th,
        .table-condensed > tbody > tr > th,
        .table-condensed > tfoot > tr > th,
        .table-condensed > thead > tr > td,
        .table-condensed > tbody > tr > td,
        .table-condensed > tfoot > tr > td {
            padding: 5px;
        }
        .table-bordered {
            border: 1px solid #ddd;
        }
        .table-bordered > thead > tr > th,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > td {
            border: 1px solid #ddd;
        }
        .table-bordered > thead > tr > th,
        .table-bordered > thead > tr > td {
            border-bottom-width: 2px;
        }
        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #f9f9f9;
        }
        .table-hover > tbody > tr:hover {
            background-color: #f5f5f5;
        }
        table col[class*="col-"] {
            position: static;
            display: table-column;
            float: none;
        }
        table td[class*="col-"],
        table th[class*="col-"] {
            position: static;
            display: table-cell;
            float: none;
        }
        .table > thead > tr > td.active,
        .table > tbody > tr > td.active,
        .table > tfoot > tr > td.active,
        .table > thead > tr > th.active,
        .table > tbody > tr > th.active,
        .table > tfoot > tr > th.active,
        .table > thead > tr.active > td,
        .table > tbody > tr.active > td,
        .table > tfoot > tr.active > td,
        .table > thead > tr.active > th,
        .table > tbody > tr.active > th,
        .table > tfoot > tr.active > th {
            background-color: #f5f5f5;
        }
        .table-hover > tbody > tr > td.active:hover,
        .table-hover > tbody > tr > th.active:hover,
        .table-hover > tbody > tr.active:hover > td,
        .table-hover > tbody > tr:hover > .active,
        .table-hover > tbody > tr.active:hover > th {
            background-color: #e8e8e8;
        }
        .table > thead > tr > td.success,
        .table > tbody > tr > td.success,
        .table > tfoot > tr > td.success,
        .table > thead > tr > th.success,
        .table > tbody > tr > th.success,
        .table > tfoot > tr > th.success,
        .table > thead > tr.success > td,
        .table > tbody > tr.success > td,
        .table > tfoot > tr.success > td,
        .table > thead > tr.success > th,
        .table > tbody > tr.success > th,
        .table > tfoot > tr.success > th {
            background-color: #dff0d8;
        }
        .table-hover > tbody > tr > td.success:hover,
        .table-hover > tbody > tr > th.success:hover,
        .table-hover > tbody > tr.success:hover > td,
        .table-hover > tbody > tr:hover > .success,
        .table-hover > tbody > tr.success:hover > th {
            background-color: #d0e9c6;
        }
        .table > thead > tr > td.info,
        .table > tbody > tr > td.info,
        .table > tfoot > tr > td.info,
        .table > thead > tr > th.info,
        .table > tbody > tr > th.info,
        .table > tfoot > tr > th.info,
        .table > thead > tr.info > td,
        .table > tbody > tr.info > td,
        .table > tfoot > tr.info > td,
        .table > thead > tr.info > th,
        .table > tbody > tr.info > th,
        .table > tfoot > tr.info > th {
            background-color: #d9edf7;
        }
        .table-hover > tbody > tr > td.info:hover,
        .table-hover > tbody > tr > th.info:hover,
        .table-hover > tbody > tr.info:hover > td,
        .table-hover > tbody > tr:hover > .info,
        .table-hover > tbody > tr.info:hover > th {
            background-color: #c4e3f3;
        }
        .table > thead > tr > td.warning,
        .table > tbody > tr > td.warning,
        .table > tfoot > tr > td.warning,
        .table > thead > tr > th.warning,
        .table > tbody > tr > th.warning,
        .table > tfoot > tr > th.warning,
        .table > thead > tr.warning > td,
        .table > tbody > tr.warning > td,
        .table > tfoot > tr.warning > td,
        .table > thead > tr.warning > th,
        .table > tbody > tr.warning > th,
        .table > tfoot > tr.warning > th {
            background-color: #fcf8e3;
        }
        .table-hover > tbody > tr > td.warning:hover,
        .table-hover > tbody > tr > th.warning:hover,
        .table-hover > tbody > tr.warning:hover > td,
        .table-hover > tbody > tr:hover > .warning,
        .table-hover > tbody > tr.warning:hover > th {
            background-color: #faf2cc;
        }
        .table > thead > tr > td.danger,
        .table > tbody > tr > td.danger,
        .table > tfoot > tr > td.danger,
        .table > thead > tr > th.danger,
        .table > tbody > tr > th.danger,
        .table > tfoot > tr > th.danger,
        .table > thead > tr.danger > td,
        .table > tbody > tr.danger > td,
        .table > tfoot > tr.danger > td,
        .table > thead > tr.danger > th,
        .table > tbody > tr.danger > th,
        .table > tfoot > tr.danger > th {
            background-color: #f2dede;
        }
        .table-hover > tbody > tr > td.danger:hover,
        .table-hover > tbody > tr > th.danger:hover,
        .table-hover > tbody > tr.danger:hover > td,
        .table-hover > tbody > tr:hover > .danger,
        .table-hover > tbody > tr.danger:hover > th {
            background-color: #ebcccc;
        }
        .table-responsive {
            min-height: .01%;
            overflow-x: auto;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <table style="width: 800px">
            <tr>
                <td style="width: 200px" colspan="2"><img src="@(Path.Combine(Settings.Default.LogosFolder, Model.Client.clientlogo))" /></td>
                <td>
                    <h4>PRODUCT SET-UP DOCUMENT</h4>
                    <h5>RANGE DETAIL</h5>
                    @{
                        var f = Model.Factory;
                    }
                    <table class="table table-bordered" style="width: 80%">
                        <tr>
                            <td style="width: 150px" class="factorylabel">SUPPLIER NAME</td>
                            <td>@f.user_name</td>
                        </tr>
                        <tr>
                            <td class="factorylabel">SUPPLIER CODE</td>
                            <td>@f.factory_code</td>
                        </tr>
                        <tr>
                            <td class="factorylabel">SUPPLIER ADDRESS</td>
                            <td>@WebUtilities.ArrayToString(new[] { f.user_address1, f.user_address2, f.user_address3, f.user_address4, f.user_address5 }, ",")</td>
                        </tr>
                        <tr>
                            <td class="factorylabel">SUPPLIER TELEPHONE NUMBER</td>
                            <td>@f.user_tel</td>
                        </tr>
                        <tr>
                            <td class="factorylabel">SUPPLIER CONTACT PERSON</td>
                            <td>@f.user_contact</td>
                        </tr>
                        <tr>
                            <td class="factorylabel">DATE</td>
                            <td>@DateTime.Today.ToString("d")</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        @*<div class="col-md-2"><img src="@(Path.Combine(Settings.Default.LogosFolder, Model.Client.clientlogo))"/>
        </div>
        <div class="col-md-10">
            
        </div>*@
    </div>
</div>
<table class="table table-bordered">
    <thead>
    <tr class="header1">
        <td colspan="10">DESCRIPTIONS & CODES</td>
        <td colspan="4">PRICING</td>
        <td colspan="2">LEAD TIMES</td>
        <td colspan="4">PRODUCT DIMENSIONS / WEIGHT</td>
        <td colspan="5">PACKAGED QTY / DIMENSIONS / WEIGHT</td>
        <td colspan="5">MASTER CARTON QTY / DIMENSIONS / WEIGHT</td>
        <td colspan="11">PALLETISATION</td>
        <td colspan="5">PRODUCT IMAGES</td>
        <td colspan="4">TECHNICAL INFORMATION</td>
        <td colspan="2">SPARES</td>
        <td colspan="2">PACKAGING</td>
        <td colspan="2">GUARANTEE</td>
        <td colspan="2">DUTY</td>
    </tr>
    <tr class="header2">
        <td rowspan="2">ITEM</td>
        <td>BATHSTORE PURCHASING</td>
        <td>BATHSTORE PURCHASING</td>
        <td colspan="2">BATHSTORE PURCHASING</td>
        <td>SUPPLIER</td>
        <td>SUPPLIER</td>
        <td></td>
        @for (int i = 0; i < 48; i++)
        {
            <td>SUPPLIER</td>
        }
        <td>BATHSTORE PURCHASING</td>
        <td>BATHSTORE PURCHASING</td>
    </tr>
    <tr class="header2">
        <td>BATHSTORE PRODUCT CODE </td>
        <td>RANGE NAME</td>
        <td>BATHSTORE DESCRIPTION</td>
        <td>CHARACTERS</td>
        <td>SUPPLIER PRODUCT CODE</td>
        <td>SUPPLIER DESCRIPTION</td>
        <td>BARCODE</td>
        <td>MATERIAL</td>
        <td>FINISH</td>
        <td>COST PRICE</td>
        <td>PRICING FORMAT( FOB, CIF, LANDED, ETC )</td>
        <td>CURRENCY</td>
        <td>FIXED DISCOUNT(%)</td>
        <td>PRODUCTION LEAD TIME ( WEEKS )</td>
        <td>SHIPPING LEAD TIME ( WEEKS )</td>
        <td>PRODUCT HEIGHT ( mm )</td>
        <td>PRODUCT WIDTH ( mm )</td>
        <td>PRODUCT DEPTH ( mm )</td>
        <td>NET WEIGHT ( Kg )</td>
        <td>PACKAGED QUANTITY</td>
        <td>PACKAGED HEIGHT ( mm )</td>
        <td>PACKAGED WIDTH ( mm )</td>
        <td>PACKAGED DEPTH ( mm )</td>
        <td>GROSS WEIGHT ( Kg )</td>
        <td>MASTER CARTON QUANTITY</td>
        <td>MASTER CARTON HEIGHT ( mm )</td>
        <td>MASTER CARTON WIDTH ( mm )</td>
        <td>MASTER CARTON DEPTH ( mm )</td>
        <td>MASTER CARTON WEIGHT ( Kg )</td>
        <td>QUANTITY 20' GP WITHOUT PALLETS</td>
        <td>QUANTITY 40' GP WITHOUT PALLETS</td>
        <td>QUANTITY 40' HC WITHOUT PALLETS</td>
        <td>QUANTITY 20' GP WITH PALLETS</td>
        <td>QUANTITY 40' GP WITH PALLETS</td>
        <td>QUANTITY 40' HC WITH PALLETS</td>
        <td>HANDBALL/ PALLET/ STILLAGE</td>
        <td>QUANTITY PER PALLET/ STILLAGE</td>
        <td>PALLET / STILLAGE HEIGHT ( mm )</td>
        <td>PALLET / STILLAGE WIDTH ( mm )</td>
        <td>PALLET / STILLAGE DEPTH ( mm )</td>
        <td>HI RES IMAGE PROVIDED (FRONT VIEW) ( Y / N )</td>
        <td>HI RES IMAGE PROVIDED (TOP VIEW) ( Y / N )</td>
        <td>HI RES IMAGE PROVIDED (RIGHT VIEW) ( Y / N )</td>
        <td>HI RES IMAGE PROVIDED (LEFT VIEW) ( Y / N )</td>
        <td>PRODUCT DVD PROVIDED (Y/N)</td>
        <td>TECHNICAL DRAWINGS PROVIDED ( Y / N )</td>
        <td>SPEC SHEET PROVIDED ( Y / N )</td>
        <td>PRODUCT CERTIFICATION PROVIDED ( Y / N )</td>
        <td>PRODUCT INSTRUCTIONS PROVIDED ( Y / N )</td>
        <td>SPARES AVAILABLE (Y / N)</td>
        <td>SPARES IMAGES PROVIDED ( Y / N )</td>
        <td>CARDBOARD PACKAGING WEIGHT ( Kg )</td>
        <td>PLASTIC PACKAGING WEIGHT ( Kg )</td>
        <td>SUPPLIER GUARANTEE ( YEARS )</td>
        <td>BATHSTORE GUARANTEE ( YEARS )</td>
        <td>DUTY TARIFF CODES</td>
        <td>DUTY RATE ( % )</td>
    </tr>
    </thead>
    <tbody>
    @{
        var counter = 1;
    }
    @foreach (var p in Model.Products)
    {
        var m = p.MastProduct;
        <tr>
            <td>@(counter++)</td>
            <td>@p.cprod_code1</td>
            <td>@p.cprod_range</td>
            <td>@p.cprod_name</td>
            <td></td>
            <td>@m.factory_ref</td>
            <td>@m.asaq_name</td>
            <td></td>
            <td>@m.prod_material</td>
            <td>@m.prod_finish</td>
            <td>@(m.price_pound > 0 ? m.price_pound : m.price_dollar)</td>
            <td>FOB</td>
            <td>@Html.Raw(m.price_pound > 0 ? "&pound; (GBP)" : "$ (USD)")</td>
            <td></td>
            <td>6</td>
            <td>8</td>
            <td>@m.prod_height</td>
            <td>@m.prod_width</td>
            <td>@m.prod_length</td>
            <td>@m.prod_nw</td>
            <td>@m.packunits</td>
            <td>@m.pack_height</td>
            <td>@m.pack_width</td>
            <td>@m.pack_length</td>
            <td>@m.pack_GW</td>
            <td>@m.units_per_carton</td>
            <td>@m.carton_height</td>
            <td>@m.carton_width</td>
            <td>@m.carton_length</td>
            <td>@m.carton_GW</td>
            <td>@m.units_per_20pallet</td>
            <td>@m.units_per_20nopallet</td>
            <td>@m.units_per_40nopallet_hc</td>
            <td>@m.units_per_20pallet</td>
            <td>@m.units_per_40pallet_gp</td>
            <td>@m.units_per_40pallet_hc</td>
            <td>@(m.units_per_pallet_single > 0 ? "PALLET" : "")</td>
            <td>@m.units_per_pallet_single</td>
            <td>@m.pallet_height</td>
            <td>@m.pallet_width</td>
            <td>@m.pallet_length</td>
            @for (int i = 0; i < 17; i++)
            {
                <td></td>
            }
        </tr>
    }
    </tbody>
</table>
    
</body>
</html>



